// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v25.0.0/dist/font-face.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  font-family: Vazir;
  direction: rtl;
}
.dropdown-item,.form-group,.card-header{
  text-align: right;
}
.table{
  text-align: center;
}
.table-actions{
  display: flex;
  justify-content: space-around;
  font-size: 1.1em;
}
.vue-html5-editor>.content {
    text-align: right;
    direction: rtl;
}
